{% extends "htmlEskeleton.html" %}

{% block html %}
<main class="container">
    <section id="etapas" class="mt-3">
        <h5>¿En qué etapas trabajas?</h5>
        {% for etapa in etapas %}
        <div class="form-check">
            <input class="form-check-input" name="etapas[]" type="checkbox" value="{{etapa['id']}}" id="etapas-{{etapa['id']}}">
            <label class="form-check-label" for="etapas-{{etapa['id']}}">{{etapa['nombre']}}</label>
        </div>
        {% endfor %}
    </section>
    <section id="areas" class="mt-3">
        <h5>¿En qué áreas trabajas normalmente?</h5>
        {% for area in areas %}
        <div class="form-check">
            <input class="form-check-input" name="area" type="radio" value="{{area['id']}}" id="area-{{area['id']}}">
            <label class="form-check-label" for="area-{{area['id']}}">{{area['nombre']}}</label>
        </div>
        {% endfor %}
        <div class="form-check">
            <input class="form-check-input" name="area" type="radio" value="other" id="area-{{area['id']}}">
            <label class="form-check-label" for="area-{{area['id']}}">Otra: <input type="text" name="area-otra" class="form-control" id="areaOtros" placeholder="Escribe aquí el área"></label>
        </div>
    </section>
    <section class="mt-3 d-flex justify-content-center">
        <div>
            <button type="button" class="btn btn-success">Enviar</button>
        </div>
    </section>
    
</main>
{% endblock %}